

nav{
    height: 75px;

    padding: 5px;
    border-radius: 50px;
    
    position: sticky;
    top:0px;
}
nav a{
    text-decoration: none;
    color: aliceblue;
}
body{
    background-image: url("./magenta_explorer-wallpaper-3840x2160.jpg");
    
}

nav ol{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    color: aliceblue;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.s1{
    height:100vh;
    width: 100vw;
    box-shadow: 0px 0px 20px grey;
    background-color: aliceblue;
    border: 2px solid black;
    background-image:  url("./magenta_explorer-wallpaper-3840x2160.jpg");
    background-size: cover;   
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

div{
    background-color: rgba(0,0,0,0.6);
    height:100vh;
    width:100vw;
}

.s1 h1{
    text-align: center;
    font-size: 200px;
    color: rgba(255,255,255,0.3);
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    
}
.s1:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    border-radius: 20px;
    color: rgba(0,0,0,0.8);
    text-shadow: 0 0 20px white;
    
}
.s1 h1:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    border-radius: 20px;
    color: rgba(0,0,0,0.8);
    text-shadow: 0 0 20px white;
    
    
}

ol li a:hover{
    color: grey;

}